.communityHeading {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.allPostsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.newPostContainer {
    width: 100%;
    margin: 10px;
}

.newPostCSS {
    display: flex;
}

.newPostCSS img{
    width: 100px;
    height: 100px;

}

.PostImageCSS {
    display: flex;
    flex-direction: column;
}

.postMessageCSS {
    display: flex;
    flex-direction: column;
    width: 100%;
    ;
}

.messageTextBox {
    height: 100%;
}

.postButton {
        background-color: #008CBA; 
        color: white; 
        border: 2px solid #008CBA;
        
      }

.postListPosts {
    display: flex;
    

}

/* .postListImage{

}

.postListPosting {

} */
